{% extends 'catalog/base.html' %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
{% include 'catalog/includes/header.html' %}
<div class="container">
    <div class="row text-center">
        <div class="col-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Цена: {{product.price}} руб.</h1>
                    <p>Категория: {{product.category}}</p>
                    <p>Описание: {{product.description}}</p>
                    <img src="{{product.image.url}}">
                    <button type="button" class="btn btn-lg btn-block btn-outline-success">Купить</button>
                    <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                    <a class="btn btn-success" href="{% url 'catalog:products_list' %}" role="button">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}









