{% extends 'catalog/base.html' %}

{% block title %}Форма для продукта{% endblock %}

{% block content %}
{% include 'catalog/includes/header.html' %}
<div class="container mt-5">
  <h2>Форма для продукта</h2>
  <form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{% url 'catalog:products_list' %}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
{% endblock %}